<!DOCTYPE html>
<html>
<head>
  <title></title>
  <!-- <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poor+Story" rel="stylesheet"> -->
</head>
<body>
 <div class="team_photo">
        <img src="pictures/team.jpg">
    </div>

    <div class="content">
        <div class="container">
            <div class="about_us">
                <h1>About us</h1>
                <h3>Contact info</h3>
                <p>Phone Number: (xxx)-xxx-xxxx</p>
                <p>Email: ihavenoclue@idk.com</p>
                <p>Here is just a bunch of randoms words. That way it will take all of the space that a normla about us page would have, so here we are with a bunch of random info</p>
            </div>
        </div>
    </div>
</body>
</html>