
<div class=“container”>
 
 <div class="uniqueDonutsContainer">
   <!--for each item in unique donuts  -->
   <div class="donut_container">
     <div class="donut_image">

     </div>
     <div class="donut_info">
       <div class="description_border">
         <div class="description_label">

         </div>
       </div>
       <div class="price_quant_subtotal">
         <div class="price">

         </div>
         <div class="quant">

         </div>
         <div class="subtotal">
           
         </div>
       </div>                
     </div>

   </div>
 </div>

 <div class="completeTransaction">
   <div class="left_completeTransaction">
     <div class="continue_shopping">

     </div>
     <div class="clear_cart_container">
       <div class="clear_car_button">

       </div>              
     </div>
   </div>
   <div class="right_completeTransaction">
     <div class="total_container">
       <div class="total_button">
         
       </div>
     </div>
     <div class="checkout_container">
       <div class="checkout_button">
         
       </div>
     </div>

   </div>

 </div>

