<div class="container">
  <div class="carousel-container">
    <div class="home-card">
        <div class="carousel">Carousel Goes Here</div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE6UjdQUjRbMXzOQuAK1JZAJBswdAZC6Ntm9Q3UJsBidY52zD4oQ" alt="">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK1zrXlgvMKFgJepeHEA0f3sfymFigjzeC_zlaI4d3wsrpOETJ" alt="">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn9oRczesoTnoxxR00yRjlvVYv2C_pArlsuLm3tXgJ-0uf3V0x" alt="">
        
    </div>

    <div class="card">
        <div class="featured-donuts">Featured Donuts</div>
        <div class="card-items">
            <div class="item">
                <h4><b>Funny and Yummy!</b></h4> 
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-eV0B9CCrDWYPT97-q7z5zfU4kgbxeYK4H-6LUFEoaPpSH_9M" alt="">
                <p>The Panda</p> 
            </div>
            <div class="item">
                <h4><b>Top Tasting!</b></h4> 
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbetoNA52YCZYK0uUI58HD5eFOpfa95lQ9tfKjUuErbMZFGYPfIQ" alt="">
                <p>The Nutella Tube</p> 
            </div>
            <div class="item">
                <h4><b>Best Seller!</b></h4> 
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWQEYt7MBa2ElynLwxY9T-kTQ4Z9TJUkpMNLM1QL8UUDzsUDeXjw" alt="">
                <p>Lemon Meringue</p> 
            </div>
        </div>
    </div>
</div>
    
