<div class="my-container">
  <div class="my-card">
      <div class="my-menu-title">Our Donuts</div>
      <div class="my-card-items">
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo" src="https://source.unsplash.com/random" alt="">
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo" src="https://source.unsplash.com/random" alt="">
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo" src="https://source.unsplash.com/random" alt="">
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo" src="https://source.unsplash.com/random" alt="">
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo" src="https://source.unsplash.com/random" alt="">
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="my-items">
              <div class="my-flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="my-flipper">
                      <div class="my-front">
                          <img class="my-photo" src="https://source.unsplash.com/random" alt="">
                          <div class="my-donut-name">Donut Name</div>
                      </div>
                      <div class="my-back">
                          <a href="#">
                              <div>description</div>
                              <div>price: </div>
                              <div>Pick Me</div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>